<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresa</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/company.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
</head>
<body>
    <header>
        <a href="#">Carbono Zero</a>
        <div class="direita">
            <a href="{{ url_for('personal') }}">PARA VOCÊ</a>
            <a href="{{ url_for('main') }}">PAGINA INICIAL</a>
        </div>
    </header>
    <main>
        <div class="explica">
            <p>Ser uma empresa carbono neutro significa calcular e monitorar o total das emissões de CO2 que a atividade realizada está produzindo, além de tentar reduzir esse impacto ao máximo. Aquelas emissões que não puderem ser extintas devem ser compensadas por outros meios, como a compra de créditos de carbono e o replantio de árvores.</p><br>
            <p>A compensação por crédito de carbono se dá através da recuperação e preservação de florestas e mares, que tem uma função essencial no sequestro de CO2 da atmosfera e na diminuição do aquecimento global.</p><br>
            <p>Para calcular a pegada de carbono de sua empresa, disponibilizamos uma demonstração da ferramenta Carbon Free, tendo como base o GHG Protocol Brasileiro, fornecido e divulgado pela FGV.</p><br>
            <p>Para o cálculo completo, detalhado e específico para sua empresa, favor entrar em contato com um de nossos colaboradores.</p>
        
            <p>Para mais informações sobre o protocolo, acesse: </p>
        <br>
        <img src="{{ url_for('static',filename='images/ghg.png') }}" alt="">
        <br>
        <a href="https://eaesp.fgv.br/centros/centro-estudos-sustentabilidade/projetos/programa-brasileiro-ghg-protocol">https://eaesp.fgv.br/centros/centro-estudos-sustentabilidade/projetos/programa-brasileiro-ghg-protocol</a>
        
        </div>

        
        <form action="{{url_for('combustivel')}}" method="post" enctype="multipart/form-data" class="calcule" id="calcule">
            <h2>Escopo 1: Combustão Estacionária</h2>
            <p>Combustível utilizado pela empresa para produção</p>
            <div class="scope1">
            <label for="tipo_combustivel">Tipo de combustivel</label>
            <select name="tipo_combustivel" id="" required="required">
                <option value="acetileno">Acetileno</option>
                <option value="alcatrão">Alcatrão</option>
                <option value="asfaltos">Asfaltos</option>
                <option value="carvão_metalúrgico">Carvão metalúrgico</option>
                <option value="coque_petroleo">Coque petroleo</option>
                <option value="etano">Etano</option>
                <option value="gas_refinaria">Gás refinaria</option>
                <option value="gas_natural_Seco">Gás natural seco</option>
                <option value="gas_natural_umido">Gás natural úmido</option>
                <option value="gas_aut_pura">Gás aut pura</option>
                <option value="gas_aviao">Gás avião</option>
                <option value="Liq_gas_natural">Liq gás natural</option>
                <option value="lubrificantes">Lubrificantes</option>
                <option value="nafta">Nafta</option>
                <option value="oleo_diesel">Oleo diesel</option>
                <option value="oleo_combustivel">Oleo combustivel</option>
                <option value="oleol_residual">Oleo residual</option>
                <option value="petroloe_bruto">Petróleo bruto</option>
                <option value="querosene_aviação">Querosene aviação</option>
                <option value="res_industriais">Resíduos industriais</option>
                <option value="etanol">Etanol</option>
                <option value="biodiesel_b100">Biodiesel B100</option>
                <option value="biogas">Biogás</option>
                <option value="carvão_vegetal">Carvão vegetal</option>
                <option value="lenha">Lenha</option>
                <option value="residuos">Resíduos</option>
            </select><br>
            <label for="qtd_combs">Quantidade consumida</label>
            <input type="number" name="qtd_combs" id="" step=".01" min="0" required="required">

            <div id="incluir"></div>
            <button class="plus" type="button" onclick="adicionar()">+</button>
            </div>

            <div>
            <h2>Escopo 1: Emissão fugitiva</h2>
            <p>Troca de gases de equipamentos (ar-condicionado) - Toneladas por ano</p>
            <label for="co2">CO2</label>
            <input type="number" name="co2" id="" required="required"><br>
            <label for="hfc_23">HFC 23</label>
            <input type="number" name="hfc_23" id="" required="required"><br>
            <label for="n2o">N2O</label>
            <input type="number" name="n2o" id="" required="required"><br>
            <label for="ch4">CH4</label>
            <input type="number" name="ch4" id="" required="required"><br>
            </div>

            <div>
            <h2>Escopo 2</h2>
            <p>Quantidade de energia consumida pela empresa nos meses do ano.</p>
            <p>Ano de referência: 2021</p>

            <label for="ener_jan">Consumo de energia de janeiro</label>
            <input type="number" name="ener_jan" id="" required="required"><br>
            <label for="ener_fev">Consumo de energia de fevereiro</label>
            <input type="number" name="ener_fev" id="" required="required"><br>
            <label for="ener_mar">Consumo de energia de março</label>
            <input type="number" name="ener_mar" id="" required="required"><br>
            <label for="ener_abr">Consumo de energia de abril</label>
            <input type="number" name="ener_abr" id="" required="required"><br>
            <label for="ener_mai">Consumo de energia de maio</label>
            <input type="number" name="ener_mai" id="" required="required"><br>
            <label for="ener_jun">Consumo de energia de junho</label>
            <input type="number" name="ener_jun" id="" required="required"><br>
            <label for="ener_jul">Consumo de energia de julho</label>
            <input type="number" name="ener_jul" id="" required="required"><br>
            <label for="ener_ago">Consumo de energia de agosto</label>
            <input type="number" name="ener_ago" id="" required="required"><br>
            <label for="ener_set">Consumo de energia de setembro</label>
            <input type="number" name="ener_set" id="" required="required"><br>
            <label for="ener_out">Consumo de energia de outubro</label>
            <input type="number" name="ener_out" id="" required="required"><br>
            <label for="ener_nov">Consumo de energia de novembro</label>
            <input type="number" name="ener_nov" id="" required="required"><br>
            <label for="ener_dez">Consumo de energia de dezembro</label>
            <input type="number" name="ener_dez" id="" required="required"><br>
            </div>

            <input type="submit" value="ENVIAR">
        </form>

        <div class="results">
            {% if gasto %}
            <h2>Você produziu um total de <span>{{ gasto }}</span> toneladas de carbono.</h2>
            <p>Para compensar essa emissão, você pode plantar <span>{{ arvore }}</span> árvores(s) ou gastar <span>{{ cred }}R$</span> em créditos de carbono.</p>
            <p>Caso você possua um terreno ou área que deseja plantar, pode inserir a metragem ou adicionar um arquivo KML gerado no Google Earth.</p>

            <form action="{{url_for('personalRes')}}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file" multiple="multiple" accept=".kml" required="required">
                <input type="submit">
            </form>
            <div>
                {% if text %}
                <h2>{{ text }}</h2>
                {% else %}
                <h2>Nenhuma area</h2>
                {% endif %}
            </div>

            {% endif %}
        </div>
    </main>

    <script src="{{ url_for('static',filename='js/index.js') }}"></script>
</body>
</html>