<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <a href="#">Logo</a>
        <div class="direita">
            <a href="{{ url_for('company') }}">PARA EMPRESA</a>
            <a href="#">PARA VOCÊ</a>
            <a href="#">CONTATO</a>    
        </div>
    </header>

    <section class="first">
        <div>
            <h1>CARBONO <br> ZERO</h1>
            <p>Solução para indivíduos e empresas que querem entender sua pegada de carbono <br> e como compensá-la.</p>
        </div>
    </section>
    <section class="content">
        <img src="{{ url_for('static',filename='images/tree.svg') }}" alt="" class="svg">
    </section>
    <section>
        <img src="{{ url_for('static',filename='images/hand.svg') }}" alt="" class="svg">
    </section>
    <section class="about-us">
        <figure class="image-block">
            <h1>Isaac</h1>
            <img src="https://images.wondershare.com/filmora/article-images/2-kakashi-hatake.jpg" alt="" />
            <figcaption>
                <h3>More Info</h3>
                <a href="#" target="_blank">
                    <img src="{{ url_for('static',filename='images/github.png') }}" alt="" class="social-img">
                </a>
                <a href="#" target="_blank">
                    <img src="{{ url_for('static',filename='images/linkedin.png') }}" alt="" class="social-img">
                </a>
            </figcaption>
        </figure>
        <figure class="image-block">
            <h1>João</h1>
            <img src="https://images.wondershare.com/filmora/article-images/2-kakashi-hatake.jpg" alt="" />
            <figcaption>
                <h3>More Info</h3>
                <a href="#" target="_blank">
                    <img src="{{ url_for('static',filename='images/github.png') }}" alt="" class="social-img">
                </a>
                <a href="#" target="_blank">
                    <img src="{{ url_for('static',filename='images/linkedin.png') }}" alt="" class="social-img">
                </a>
            </figcaption>
        </figure>
        <figure class="image-block">
            <h1>Luan</h1>
            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQG_O_iL-HJ6Xw/profile-displayphoto-shrink_800_800/0/1662425515971?e=1672272000&v=beta&t=dLrtqlcb6vGNvv0hRTgNQDZkZnPyKNbzI0YwkyqxNC0" alt="" />
            <figcaption>
                <h3>More Info</h3>
                <a href="https://github.com/ToxicOtter" target="_blank">
                    <img src="{{ url_for('static',filename='images/github.png') }}" alt="" class="social-img">
                </a>
                <a href="https://www.linkedin.com/in/luan-lima-lopes/" target="_blank">
                    <img src="{{ url_for('static',filename='images/linkedin.png') }}" alt="" class="social-img">
                </a>
            </figcaption>
        </figure>
    </section>
</body>
</html>