<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
</head>
<body>
    <header>
        <a href="#">Carbono Zero</a>
        <div class="direita">
            <a href="{{ url_for('company') }}">PARA EMPRESA</a>
            <a href="{{ url_for('personal') }}">PARA VOCÊ</a>
            <a href="#about-us">CONTATO</a>    
        </div>
    </header>

    <section class="first">
        <div>
            <h1>CARBONO <br> ZERO</h1>
            <p>Solução para indivíduos e empresas que querem entender sua pegada de carbono <br> e como compensá-la.</p>
        </div>
    </section>
    <section class="content">
        <p class="text">A Carbon Free auxilia no cálculo da pegada de carbono feita por você ou pela sua empresa. Com a ferramenta suporte à relação sustentável do carbono, você mede os impactos da atividade humana no meio ambiente e nós os assessoramos com a neutralização do carbono equivalente gerado.</p>
        <img src="{{ url_for('static',filename='images/tree.svg') }}" alt="" class="svg">
        <p class="text">Mas o que é a pegada de carbono?</p>
        <p class="text">A pegada de carbono é um parâmetro que contabiliza tanto a emissão direta quanto a indireta de gases de efeito estufa, incluindo o dióxido de carbono (CO2), o metano (CH4) e outros gases emitidos por atividades realizadas no dia-a-dia.</p>
    </section>
    <section class="explanation">
        <img src="{{ url_for('static',filename='images/hand.svg') }}" alt="" class="svg">
        <img src="{{ url_for('static',filename='images/explicacao.png') }}" alt="" class="imagee">
    </section>
    <section class="about-us" id="about-us">
        <figure class="image-block">
            <h1>Isaac</h1>
            <img class="pfl-pic" src="https://media-exp1.licdn.com/dms/image/C5603AQEJMAnsaa6u4Q/profile-displayphoto-shrink_800_800/0/1653406121168?e=1672272000&v=beta&t=KkoaRos_V8Xbp3_Oh1aJuTI_6IOp0UEx5haltWtOEhg" alt="" />
            <figcaption>
                <h3>Mais informações</h3>
                <div class="social-media">
                    <a href="https://github.com/IsaacKralik" target="_blank">
                        <img src="{{ url_for('static',filename='images/github.png') }}" alt="" class="social-img github">
                    </a>
                    <a href="https://www.linkedin.com/in/isaac-kralik-passos-ribeiro-682311194/" target="_blank">
                        <img src="{{ url_for('static',filename='images/linkedin.png') }}" alt="" class="social-img linkedin">
                    </a>
                </div>
            </figcaption>
        </figure>
        <figure class="image-block">
            <h1>João</h1>
            <img class="pfl-pic" src="https://media-exp1.licdn.com/dms/image/D4D03AQHGOymRw-ZRvw/profile-displayphoto-shrink_800_800/0/1666865134952?e=1672272000&v=beta&t=i4LpWUhmCvr7Rt0PO7Zz1-1arMXsUEw9hCpK-xnTd8E" alt="" />
            <figcaption>
                <h3>Mais informações</h3>
                <div class="social-media">
                    <a href="#" target="_blank">
                        <img src="{{ url_for('static',filename='images/github.png') }}" alt="" class="social-img github">
                    </a>
                    <a href="https://www.linkedin.com/in/joão-cardoso-769a531b9/" target="_blank">
                        <img src="{{ url_for('static',filename='images/linkedin.png') }}" alt="" class="social-img linkedin">
                    </a>
                </div>
            </figcaption>
        </figure>
        <figure class="image-block">
            <h1>Luan</h1>
            <img class="pfl-pic" src="https://media-exp1.licdn.com/dms/image/C4D03AQG_O_iL-HJ6Xw/profile-displayphoto-shrink_800_800/0/1662425515971?e=1672272000&v=beta&t=dLrtqlcb6vGNvv0hRTgNQDZkZnPyKNbzI0YwkyqxNC0" alt="" />
            <figcaption>
                <h3>Mais informações</h3>
                <div class="social-media">
                    <a href="https://github.com/ToxicOtter" target="_blank">
                        <img src="{{ url_for('static',filename='images/github.png') }}" alt="" class="social-img github">
                    </a>
                    <a href="https://www.linkedin.com/in/luan-lima-lopes/" target="_blank">
                        <img src="{{ url_for('static',filename='images/linkedin.png') }}" alt="" class="social-img linkedin">
                    </a>
                </div>
            </figcaption>
        </figure>
    </section>
</body>
</html>