<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pessoal</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/company.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
    
</head>
<body>
    <header>
        <a href="#" class="logo">Carbono Zero</a>
        <div class="direita">
            <a href="{{ url_for('company') }}">PARA EMPRESA</a>
            <a href="{{ url_for('main') }}">PAGINA INICIAL</a>    
        </div>
    </header>
    <main>
        <div class="explica">
        <p>É fundamental que medidas sejam adotadas por todos a fim de mitigar as consequências e buscar a neutralização de carbono, desacelerando o aquecimento global e contribuindo para a qualidade de vida.</p>
        <br>
        <p>Isso pode ser feito por meio de diferentes ações, como:</p>
        <ul>
            <li>Utilização de energias renováveis;</li>
            <li>Descarte correto de resíduos e compostagem de orgânicos;</li>
            <li>Uso eficiente dos recursos naturais (ex. água, minerais, alimentos);</li>
            <li>Desenvolvimento de produtos e processos produtivos mais eficientes no uso de recursos naturais;</li>
            <li>Redução do consumo supérfluo de quaisquer itens (alimentação, vestuário);</li>
            <li>Plantio de árvores;</li>
        </ul>

        <p>Para calcular a pegada de carbono individual, utilize o sistema a seguir, tendo como base o GHG Protocol Brasileiro, fornecido e divulgado pela FGV</p>
        <p>Para mais informações sobre o protocolo, acesse: </p>
        <br>
        <a href="https://eaesp.fgv.br/centros/centro-estudos-sustentabilidade/projetos/programa-brasileiro-ghg-protocol" target="_blank"><img src="{{ url_for('static',filename='images/ghg.png') }}" alt=""></a>

        </div>
        <form action="{{url_for('personal')}}" method="post" enctype="multipart/form-data" class="calcule">
            <h2>Cálculo de emissão</h2>
            <div>
                <label for="aviao">Quantas viagens de avião você faz por ano?</label>
                <input type="number" name="aviao" id="" required="required">
            </div>

            <div>
                <label for="botija">Qual seu consumo médio de botijões de gás por ano?</label>
                <input type="number" name="botija" id="" required="required">
            </div>
            <div>
                <label for="condicionado">Quantos aparelhos de arcondicionado você tem em casa?</label>
                <input type="number" name="condicionado" id="" required="required">
            </div>
            <div>
                <label for="eletricidade">Qual seu gasto médio de eletricidade, em KWh/mês?</label>
                <input type="number" name="eletricidade" id="" required="required">
            </div>
            <div>
                <fieldset>
                    <legend>Você recicla lixo?</legend>
                    <div>
                        <label for="reciclaSim">Sim</label>
                        <input type="radio" name="recicla" id="reciclaSim" value="sim" checked>
                    </div>
                    <div>
                        <label for="reciclaNao">Não</label>
                        <input type="radio" name="recicla" id="reciclaNao" value="nao">
                    </div>
                </fieldset>
            </div>

            <input type="submit" value="ENVIAR">
        </form>

        <div class="results">
            {% if gasto %}
            <h2>Você produziu um total de <span>{{ gasto }}</span> toneladas de carbono.</h2>
            <p>Se for escolhida a compra de crédito, voce gastara: <span>{{ cred }}R$</span> comprando <span>{{ gasto }}</span> créditos de carbono. Caso escolha o plantio, você pode plantar <span>{{ arvore }}</span> árvores(s).</p>
            <br>
            <p>Caso você possua um terreno ou área que deseja plantar, pode inserir a metragem ou adicionar um arquivo KML gerado no Google Earth.</p>

            <form action="{{url_for('personalRes')}}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file" multiple="multiple" accept=".kml" required="required">
                <input type="submit">
            </form>
            <div>
                {% if text %}
                <h2>A metragem total do seu terreno é: {{ text }} m2</h2>
                {% else %}
                <h2>Nenhuma area</h2>
                {% endif %}
            </div>

            {% endif %}
        </div>
    </main>
</body>
</html>